*,
*::after,
*::before {
   box-sizing: border-box;
}

body {
   margin: 0px;
}

#root {
   max-width: 1280px;
   margin: 0 auto;
   padding: 2rem;
   text-align: center;
}

.container {
   width: 100%;
   max-width: 800px;
   margin: 0 auto;
   padding: 20px 15px;
}

.otp-group {
   display: flex;
   width: 100%;
   max-width: 360px;
   column-gap: 10px;
}

.otp-input {
   width: 100%;
   height: 60%;
   border: 1px solid #ccc;
   border-radius: 8px;
   text-align: center;
   font-size: 32px;
   font-weight: bold;
   line-height: 1;
}

@keyframes logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

@media (prefers-reduced-motion: no-preference) {
   a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
   }
}

.card {
   padding: 2em;
}

.read-the-docs {
   color: #888;
}
